@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.sec_title {
  @apply text-[1.3rem] font-[700] font-helvetica uppercase
}

.sec_desc {
  @apply text-[0.75rem] font-inter font-extralight tracking-wide
}

@screen xs {
  .sec_title {
    @apply text-[1.5rem] font-[700] font-helvetica uppercase
  }

  .sec_desc {
    @apply text-[0.75rem] font-inter font-extralight tracking-wide
  }
}

@screen md {
  .sec_title {
    @apply text-[2rem] font-[700] font-helvetica uppercase
  }

  .sec_desc {
    @apply text-[0.875rem] font-inter font-extralight tracking-wide
  }
}

@screen lg {
  .sec_title {
    @apply text-[2rem] font-[700] font-helvetica uppercase
  }

  .sec_desc {
    @apply text-[0.875rem] font-inter font-extralight tracking-wide
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}